github "RxSwiftCommunity/RxGesture"
github "NoTests/RxFeedback.swift"
github "Swinject/Swinject"
github "airbnb/lottie-ios"
github "SnapKit/SnapKit"
github "Quick/Nimble"
github "uber/ios-snapshot-test-case"
github "ashfurrow/Nimble-Snapshots"
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
